.header-container {
  height: 45vh;
}

.header-container img {
  width: 100%;
  height: 45%;
  position: absolute;
  z-index: -1;
}

.header-container .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 35px;
}

.home-container .left,
.right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .left h3,
.right h3 {
  padding-bottom: 15px;
}
