.home-page-container .bg-image {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  margin: 0px;
}

.home-page-container img {
  width: 100px;
  margin: 5px 5px;
}

.home-page-container .header-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 20px;
}

.home-page-container .team-name-container {
  position: absolute;
  left: 20px;
  bottom: 17%;
}

.home-page-container .team-name-container h2 {
  font-size: 36px;
  font-weight: 400;
}

.home-page-container .arrow-container {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 12.5px);
}

.home-page-container .arrow-container h3 {
  font-size: 25px;
}
